.primaryColor{
  color: #0D346F;
}
.primaryBg{
  background-color: #0D346F !important;
}
.secondBg{
  background-color: #0D346F1A;
}
.activeLink{
  font-weight: bold;
  color: #0D346F;
  border-bottom: 2px solid #0D346F;
}
.header {
  background-image: url(../src/assets/header-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
  .header {
    background-position: left;
    background-size: cover; 
    height: 60vh; 
  }
}
